
ul {
    text-align : left;
    list-style-position : inside;
}
/**
html {
   background : black; 
    height : 100%;
    overflow : hidden;
    }
**/
body {
    #contact=
    margin : 0;
    height : 100%;
    text-align : left;
}


        
        